/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require_self
 *= require_tree .
 */

/* START_HIGHLIGHT */
#banner {
  background: #EBA0AB;
  padding: 10px;
  border-bottom: 2px solid;
  // font-family: verdana, arial, helvetica, sans-serif;
  font: 40px/40px verdana, arial, sans-serif;
  text-transform: lowercase; /* force text to lowercase */
  color: #4A0F18;
  text-align: center;

  img {
    float: left;
    width: 70px;
    height: 40px;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: #EBA0AB;

  #main {
    margin-left: 12em;
    padding: 1em;
    background: white;
  }

  #side {
    float: left;
    padding: .5em .5em;
    width: 10em;
    background: #EBA0AB;

    ul {
      padding: 30;

      li {
        list-style: none;

        a {
          color: #000;
          font-size: small;
        }
      }
    }
  }
}
/* END_HIGHLIGHT */