/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require_self
 *= require_tree .
 */

@import 'variables';

/* START_HIGHLIGHT */
#banner {
  background-color: $secondary-color;
  border: 5px solid $primary-accent-color;
  font: 100% $font-stack;
  font-size: 40px;
  text-transform: lowercase; /* force text to lowercase */
  color: $quaternary-color;

  div:first-child {
    float: left;
  }

  figure .infiniti {         //image
    width: 80px;
    height: 60px;
    padding: 20px;
    border: solid 2px black;
    background-color: black;
    background: radial-gradient(black, white);
    float: left;
  
    img {
      width: 80px;
    height: 60px;
    padding: 20px;
    }
  }
  
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: 100% $font-stack;
  font-size: smaller;
  font-style: bold;
}

#columns {
  background: $secondary-color;

  #main {
    margin-left: 18em;
    padding: 1em;
    background: $primary-color;
  }

  aside {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: $secondary-color;

    form, div {
      display: inline;
    }

    input {
      font-size: small;
    }

    #cart {
      font-size: 12px;
      color: white;
    

    table {
      border-top: 1px solid #595;
      border-bottom: 1px solid #595;
      margin-bottom: 10px;
    }
  }

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #000;
          font-size: 14px;
        }
      }
    }
  }
}
/* END_HIGHLIGHT */

//#START:form
.graffiti_form {
  fieldset {
    background: $secondary-color;

    legend {
      color: #dfd;
      background: #141;
      font: 100% $font-stack;
      padding: 0.2em 1em;
    }
  }

  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin-left: 0.5em;
    }

    .submit {
      margin-left: 4em;
    }

    br {
      display: none
    }
  }
}

/* misc styling */

.clear {
  clear: both;
}
