// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

/* START_HIGHLIGHT */
.store {
  h1 {
    margin: 0;
    padding-bottom: 0.5em;
    font: 100% $font-stack;
    color: $quaternary-color;
    border-bottom: 3px solid $tertiary-accent-color;
  }

  /* An entry in the store catalog */
  .entry {
    overflow: auto;
    margin-top: 2em;
    border-bottom: 1px dotted $tertiary-accent-color;
    min-height: 180px;

    img {
      width: 160px;
      height: 170px;
      margin-right: 5px;
      margin-bottom: 5px;
      position: absolute;
    }

    h3 {
      font-size: 16px;
      font: 100% $font-stack;
      margin-left: 180px;
      margin-top: 0;
      margin-bottom: 2px;
      color: $quaternary-color;
    }

    .description {
    	margin-left: 180px;
    }

    p, div.price_line {
      margin-left: 180px;
      margin-top: 0.5em; 
      margin-bottom: 0.8em; 
    }

    form, div {
      margin-top: 0.5em;
    }

    .price {
      color: $quaternary-color;
      font-weight: bold;
      margin-right: 3em;
    }
  }
}
/* END_HIGHLIGHT */