$font-stack: Helvetica, sans-serif;
$primary-color: #C0C0C0; /*lightish gray*/
$secondary-color: #909090; /*medium gray*/
$tertiary-color: #737373; /*dark gray*/
$quaternary-color: #000; /*darkest or black*/
$primary-accent-color: #64324E; /*maroon*/
$secondary-accent-color: #7D5B3E; /*brownish tan*/
$tertiary-accent-color: #326432; /*green*/
$quaternary-accent-color: #7D3E3E; /*dark red*/
